/YUV/YuvReader.sln
/YUV/YuvReader/YuvReader.vcxproj
/YUV/YuvReader/YuvReader.vcxproj.filters
/YUV/YuvReader/YuvReader.vcxproj.user
/YUV422IYUYVGenerator/YUV422IYUYVGenerator.sln
/YUV422IYUYVGenerator/YUV422IYUYVGenerator.vcxproj
/YUV422IYUYVGenerator/YUV422IYUYVGenerator.vcxproj.filters
/YUV422IYUYVGenerator/YUV422IYUYVGenerator.vcxproj.user
*/Debug
*/.vs


*.ipch
*.obj
*.pdb
*.tlog
*.txt
*.log
*.exe
*.ilk
*.user
*.filters
*.vcxproj
*.sln
*.db
*.suo
*.opendb
*.json
*.sqlite
BMA_v1/BMA_Enviroment/Debug/BMA_Enviroment.exe.recipe
